
:host {
}
:host > div {
	/*border-color: #998 #887 #776 #887;*/
}
form {
	border-color: #998 #887 #666 #887;
	font-family: serif;
}
/* sections */
fieldset {
}
hr {
	background: linear-gradient(45deg, #AA9, #665, #AA8);
}

/* buttons */
button {
	text-transform: uppercase;
	border: solid calc(1px*var(--S));
	border-color: #FFD #CCB #BBA #DDB;
	border-radius: calc(1px*var(--S));
	/*box-shadow:
		black calc(var(--S)*1px/3) calc(var(--S)*1px/3) calc(var(--S)*1px);*/
	text-shadow:
		#BBA calc(var(--S)*1px/3) calc(var(--S)*1px/3),
		#776 calc(var(--S)*-1px/3) calc(var(--S)*-1px/3);
	background: #B0B0A0;
	color: #221;
}
/* button hovered */
@media (any-hover: hover) {
	:hover + button {
		background: #CCC;
		/*box-shadow:
			black calc(var(--S)*1px/3) calc(var(--S)*1px/3) calc(var(--S)*1px/3);*/
	}
}
/* button checked/active */
:checked + button, input:not([type="radio"]):not(:disabled):active + button {
	color: #FFF078;
	text-shadow: red 0 0 calc(var(--S)*1px/3);
}
:checked + button, :active + button {
	border-color: #665 #444 #444 #665;
	/*box-shadow:
		inset black 0 0 calc(var(--S)*10px/3),
		inset white 0 0 calc(var(--S)*10px/3),
		#FF8 0 0 calc(var(--S)*1px/3);*/
	background: #887;
}
/* button disabled */
:disabled + button {
	border-color: #665 #444 #444 #665;
	box-shadow:
		inset black 0 0 calc(var(--S)*10px/3),
		inset white 0 0 calc(var(--S)*10px/3);
	background: #887;
	color: #666;
}
/* color button */
button > div {
	box-shadow:
		inset black 0 0 calc(var(--S)*10px/3),
		inset white 0 0 calc(var(--S)*10px/3);
}
:checked + button > div {
	box-shadow:
		inset #0008 0 0 calc(var(--S)*10px/3),
		inset white 0 0 calc(var(--S)*10px/3),
		currentColor 0 0 calc(var(--S)*8px/3) calc(var(--S)*-2px/3);
}
/* pattern button */
:not(:checked) + button.icon {
	text-shadow: 0 0 calc(var(--S)*1px) black;
}
