
:host {
	border: solid calc(var(--S)*2px);
	border-color: #998 #887 #666 #887;
	background: #B0B098;
}
canvas.main {
	background: repeating-linear-gradient(1.23deg, #F0E0AA, #D8D0A8 0.38291px);
}
form {
	justify-content: space-evenly;
	border-top: #776 solid calc(var(--S)*2px);
	font-family: serif;
}
/* sections */
fieldset {
	padding-bottom: calc(var(--S)*2px);
}
hr {
	background: linear-gradient(45deg, #AA9, #665, #AA8);
}

/* buttons */
b {
	text-transform: uppercase;
	border: solid calc(1px*var(--S));
	border-color: #FFD #887 #666 #DDB;
	border-radius: calc(1px*var(--S));
	box-shadow:
		black calc(var(--S)*1px/3) calc(var(--S)*1px/3) calc(var(--S)*1px);
	text-shadow:
		#BBA calc(var(--S)*1px/3) calc(var(--S)*1px/3),
		#776 calc(var(--S)*-1px/3) calc(var(--S)*-1px/3);
	background: #AAAA90;
	color: #221;
}
input[type="radio"] + b {
	border-radius: calc(var(--S)*8px);
}
/* button hovered */
@media (any-hover: hover) {
	b:hover {
		background: #CCC;
		box-shadow:
			black calc(var(--S)*1px/3) calc(var(--S)*1px/3) calc(var(--S)*1px/3);
	}
}
/* button checked/active */
:checked + b, input:not([type="radio"]):not(:disabled):active + b {
	color: #FFF078;
	text-shadow: red 0 0 calc(var(--S)*1px/3);
	transition: none;
}
:checked + b, :active + b {
	border-color: #665 #444 #444 #665;
	box-shadow:
		inset black 0 0 calc(var(--S)*10px/3),
		inset white 0 0 calc(var(--S)*10px/3),
		#FF8 0 0 calc(var(--S)*1px/3);
	background: #887;
}
/* button disabled */
:disabled + b {
	border-color: #665 #444 #444 #665;
	box-shadow:
		inset black 0 0 calc(var(--S)*10px/3),
		inset white 0 0 calc(var(--S)*10px/3);
	background: #887;
	color: #666;
}
/* color button */
b.color > div {
	border-radius: calc(var(--S)*6px);
	box-shadow:
		inset black 0 0 calc(var(--S)*10px/3),
		inset white 0 0 calc(var(--S)*10px/3);
}
:checked + b.color > div {
	box-shadow:
		inset #0008 0 0 calc(var(--S)*10px/3),
		inset white 0 0 calc(var(--S)*10px/3),
		currentColor 0 0 calc(var(--S)*8px/3) calc(var(--S)*-2px/3);
}
/* pattern button */
b canvas {
}
:not(:checked) + b.icon {
	text-shadow: 0 0 calc(var(--S)*1px) black;
}
