
:host {
	border: solid calc(var(--scale) * 2px);
	border-color: #998 #887 #666 #887;
	background: #B0B098;
}
canvas.main {
	background: repeating-linear-gradient(1.23deg, #F0E0AA, #D8D0A8 0.38291px);
}
form {
	justify-content: space-evenly;
	border-top: #776 solid calc(var(--scale) * 2px);
	font-family: serif;
}
/* sections */
fieldset {
	padding-bottom: calc(var(--scale) * 2px);
}
hr {
	background: linear-gradient(45deg, #AA9, #665, #AA8);
}

/* buttons */
b {
	text-transform: uppercase;
	border: solid calc(1px * var(--scale));
	border-color: #FFD #887 #666 #DDB;
	border-radius: calc(1px * var(--scale));
	box-shadow: calc(var(--scale) * 1px / 3) calc(var(--scale) * 1px / 3) calc(var(--scale) * 1px) black;
	text-shadow: calc(var(--scale) * 1px / 3) calc(var(--scale) * 1px / 3) 0 #BBA, calc(var(--scale) * -1px / 3) calc(var(--scale) * -1px / 3) 0 #776;
	background: #AAAA90;
	color: #221;
}
input[type="radio"] + b {
	border-radius: calc(var(--scale) * 8px);
}
/* button hovered */
b:hover, :focus-visible > b {
	background: #CCC;
	box-shadow: calc(var(--scale) * 1px / 3) calc(var(--scale) * 1px / 3) calc(var(--scale) * 1px / 3) black;
}
/* button checked/active */
:checked + b, input:not([type="radio"]):not(:disabled):active + b {
	color: #FFF078;
	text-shadow: 0 0 calc(var(--scale) * 1px / 3) red;
	transition: none;
}
:checked + b, :active + b {
	border-color: #776 #444 #444 #776;
	box-shadow: 0 0 calc(var(--scale) * 10px / 3) 0 inset black, 0 0 calc(var(--scale) * 10px / 3) 0 inset white, 0 0 calc(var(--scale) * 1px / 3) 0 #FF8;
	background: #887;
}
/* button disabled */
:disabled + b {
	border-color: #776 #444 #444 #776;
	box-shadow: 0 0 calc(var(--scale) * 10px / 3) 0 inset black, 0 0 calc(var(--scale) * 10px / 3) 0 inset white;
	background: #887;
	color: #666;
}
/* color button */
b.color > span {
	border-radius: calc(var(--scale) * 4.5px);
	box-shadow: 0 0 calc(var(--scale) * 10px / 3) 0 inset black, 0 0 calc(var(--scale) * 10px / 3) 0 inset white;
}
:checked + b.color > span {
	box-shadow: 0 0 calc(var(--scale) * 10px / 3) 0 inset #0008, 0 0 calc(var(--scale) * 10px / 3) 0 inset white, 0 0 calc(var(--scale) * 8px / 3) calc(var(--scale) * -2px / 3) currentColor;
}
/* pattern button */
b canvas {
}
