body, html {
	background: aliceblue;
}

chat-draw {
	display: inline-grid;
	grid-template:
		"canvas" max-content
		"gap" 1px
		"controls" auto
		/ min-content;
	padding: 1px;
	--scale: 2;
	background: silver;
}
chat-draw canvas {
	grid-area: canvas;
	width: calc(var(--width) * 1px * var(--scale, 1));
	cursor: crosshair;
}
chat-draw form {
	/*margin-left: -1px;*/
	grid-area: controls;
	display: flex;
	flex-flow: row wrap;
}
chat-draw label {
	display: contents;
}
chat-draw input {
	display: none;
}
input[type="radio"] + b {
	border-radius: 50px;
}
chat-draw b {
	display: block;
	box-sizing: border-box;
	flex: none;
	--cells: 1;
	width: calc(var(--scale) * 25px * var(--cells));
	height: calc(var(--scale) * 25px);
	
	appearance: none;
	margin: 0;
	padding: 0;
	border: 5px solid gray;
	border-color: #FFF #888 #666 #DDD;
	
	display: grid;
	align-items: center;
	text-align: center;
}

chat-draw b {
	background: #BBB;
	color: #444;
	font-family: monospace;
}
chat-draw input:disabled + b {
	border-color: #999;
	color: #666;
	background: #2929291A;
}
chat-draw input[type="button"]:not(:disabled) + b:hover {
	border-color: #CCC;
	text-shadow: 0 0 1px yellow;
}
chat-draw b:hover {
	background: #DDD;
}
chat-draw :checked + b {
	border-color: #777 #555 #555 #777;
	box-shadow: 0 0 10px 0px inset black;
	color: #FFFF00A0;
	text-shadow: 0 0 1px red;
	background: #888;
	border-width: 0;
}

chat-draw input[type="range"] {
	--cells: 4;
}
b.icon {
	font-weight: normal;
	font-size: calc(var(--scale) * 16px);
}
