/* TODO
	split this into structural and decorative styles
*/
:host {
	display: inline-grid !important;
	grid-template:
		"canvas"
		"controls";
	--S: 2;
	-webkit-user-select: none; user-select: none;
	-webkit-text-size-adjust: none;
	background: #B0B098;
}
:host > div {
	cursor: crosshair;
	touch-action: none;
	grid-area: canvas;
	border: solid gray calc(var(--S)*2px);
	width: calc(var(--width)*var(--S)*1px);
	height: calc(var(--height)*var(--S)*1px);
	border-color: #b844;
}
:host > div > * {
	pointer-events: none;
}
/* stacked */
:host > div, chatdraw-button {
	position: relative;
}
:host > div > *, chatdraw-button > * {
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	box-sizing: border-box !important;	
}

:host > div > img {
	opacity: 0;
}
canvas {
	image-rendering: -moz-crisp-edges; image-rendering: pixelated;
}
canvas.main {
	background: url(data:image/webp;base64,UklGRngAAABXRUJQVlA4TGwAAAAvEUAEAI9AmG00f8lD6escBAKJP+0GJxBI8kdZ8vmvwyo0wAyAgQMMFLSRpNwzk3+5OBIi+i82SeakQ0RpY50PMeVSWx9zPX/Xd/9+YNcf2PUHFoAewAagBjABOAF0AFYAFYARwAGgBbD8YQY=), #e4d8a9;/*repeating-linear-gradient(1.23deg, #F0E0AA, #D8D0A8 0.38291px);*/
}
canvas.overlay {
	opacity: 0.7;
}

/* controls */
form {
	grid-area: controls;
	display: flex;
	-webkit-user-select: none; user-select: none;
	justify-content: space-evenly;
	font-size: calc(var(--S)*5px);
	border: solid gray;
	border-width: calc(var(--S)*2px) calc(var(--S)*1px);
	border-top-width: 0;
}
fieldset {
	all: unset;
	display: grid;
	grid-auto-flow: row;
	align-content: space-between;
	--bw: 21px;
	--gap: 1px;
	grid-template-columns: repeat(var(--cols), calc(var(--S)*var(--bw)));
	grid-template-rows: auto;
	grid-auto-rows: 1fr;
	padding-bottom: calc(var(--S)*2px);
}
/* todo: we really ought to just, set the size on the <button> instead. just not sure how to make it work nice with overlapping. but might just need to set size on both it AND the <input> */
fieldset.small {
	grid-template-rows: auto repeat(8, calc(var(--S)*var(--bh)));
	grid-auto-flow: column;
	grid-auto-columns: calc(var(--S)*var(--bw));
	--bw: 9px;
	--bh: 9px;
	--gap: 1px;
}
fieldset > div {
	grid-column: 1 / -1;
	justify-self: center;
	white-space: pre;
	margin-bottom: calc(1px*var(--S));
}
hr { /* todo this sucks */
	all: unset;
	width: 1px;
}

/* button container */
chatdraw-button {
	margin-bottom: calc(var(--gap)*var(--S));
	margin-right: calc(1px*var(--S));
}
chatdraw-button > * {
	all: unset;
	-webkit-text-size-adjust: none;
}
chatdraw-button > input {
	opacity: 0;
	cursor: pointer;
	touch-action: manipulation;
}

/* button states */
button {
	font-size: 1em;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	line-height: 1;
	white-space: pre;
	border: calc(var(--S)*1px) solid #BBB;
	border-color: #EED #DDB #CCB #DDB;
	background: #CCCCB2;
	padding-top: calc(var(--S)*1px);
	border-radius: calc(1px*var(--S));
}	

button {
	--recess: inset 0 calc(var(--S)*1px) calc(var(--S)*1px) #0008;
	transform: translateY(calc(var(--S)*-1px));
	box-shadow:
		0 calc(var(--S)*1px) #888, /* side */
		0 calc(var(--S)*2px) #666, /* side */
		0 calc(var(--S)*2px) calc(var(--S)*1px) #000, /* shadow */
		var(--recess);
}
:active + button {
	transform: translateY(calc(var(--S)*1px));
	box-shadow:
		var(--recess);
}
:checked + button {
	transform: none;
	/*border-color: #EE0 #DD0 #CC0 #DD0;*/
	background: #BDA;
	box-shadow:
		0 calc(var(--S)*1px) #5A8, /* side */
		var(--recess),
		inset 0 calc(var(--S)*1px) calc(var(--S)*2px) #0FD, /* inner glow */
		0 calc(var(--S)*1px) calc(var(--S)*2px) #0FD8; /* outer glow */
	border-color: #0FD #0FB #0FB #0FC;
}
:active + button {
	/*border-color: white;*/
}
:disabled + button {
	transform: none;
	box-shadow:
		0 calc(var(--S)*1px) #888, /* side */
		var(--recess);
	background: #BBBBA2;
	border-color: #CCA;
}
input[type="radio"] + button {
	border-radius: calc(var(--S)*8px);
}

/* button types */
/* larger text button */
button.icon {
	font-weight: normal;
	font-size: 1.8em;
}
/* color button */
button > div {
	display: block;
	background: currentColor;
	width: calc(var(--S)*14px);
	height: calc(var(--S)*11px);
	border-radius: calc(var(--S)*6px);
}
/* pattern button */
button canvas {
	object-fit: contain;
	height: calc(var(--S)*var(--ph)*1px);
	width: calc(var(--S)*var(--pw)*1px);
}
