/* TODO
	split this into structural and decorative styles
*/
:host {
	display: inline-grid !important;
	grid-template:
		"canvas"
		"controls";
	--S: 2;
	-webkit-user-select: none; user-select: none;
	-webkit-text-size-adjust: none;
}
:host > div {
	cursor: crosshair;
	touch-action: none;
	grid-area: canvas;
	border: solid gray calc(var(--S)*2px);
	width: calc(var(--width)*var(--S)*1px);
	height: calc(var(--height)*var(--S)*1px);
}
:host > div > * {
	pointer-events: none;
}
/* stacked */
:host > div, chatdraw-button {
	position: relative;
}
:host > div > *, chatdraw-button > * {
	position: absolute !important;
	left: 0 !important;
	top: 0 !important;
	width: 100% !important;
	height: 100% !important;
	box-sizing: border-box !important;	
}

:host > div > img {
	opacity: 0;
}
canvas {
	image-rendering: -moz-crisp-edges; image-rendering: pixelated;
}
canvas.main {
	background: repeating-linear-gradient(1.23deg, #F0E0AA, #D8D0A8 0.38291px);
}
canvas.overlay {
	opacity: 0.7;
}

form {
	grid-area: controls;
	display: flex;
	-webkit-user-select: none; user-select: none;
	justify-content: space-evenly;
	font-size: calc(var(--S)*5px);
}
fieldset {
	all: unset;
	display: grid;
	grid-auto-flow: row;
	align-content: space-between;
	--bw: 21px;
	--gap: 1px;
	grid-template-columns: repeat(var(--cols), calc(var(--S)*var(--bw)));
	grid-template-rows: auto;
	grid-auto-rows: 1fr;
	margin: 0 calc(1px*var(--S));
	margin-bottom: calc(var(--gap)*var(--S)*-1);
}
/* todo: we really ought to just, set the size on the <button> instead. just not sure how to make it work nice with overlapping. but might just need to set size on both it AND the <input> */
fieldset.small {
	grid-template-rows: auto repeat(8, calc(var(--S)*var(--bh)));
	grid-auto-flow: column;
	grid-auto-columns: calc(var(--S)*var(--bw));
	--bw: 10px;
	--bh: 8px;
	--gap: 1px;
}
fieldset > div {
	grid-column: 1 / -1;
	justify-self: center;
	white-space: pre;
	margin-bottom: calc(1px*var(--S));
}
hr { /* todo this sucks */
	all: unset;
	width: 1px;
}
/* button container */
chatdraw-button {
	margin-bottom: calc(var(--gap)*var(--S));
	margin-right: calc(1px*var(--S));
}
chatdraw-button > * {
	all: unset;
	-webkit-text-size-adjust: none;
}
chatdraw-button > input {
	opacity: 0;
	cursor: pointer;
	touch-action: manipulation;
}
button {
	font-size: 1em;
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: center;
	pointer-events: none;
	line-height: 1;
	white-space: pre;
	border: calc(var(--S)*1px) solid gray;
}
:checked + button {
	background: #CCC;
}
/* larger text button */
button.icon {
	font-weight: normal;
	font-size: 2em;
}
/* color button */
button.color > div {
	display: block;
	background: currentColor;
	width: calc(var(--S)*16px);
	height: calc(var(--S)*11px);
}
/* pattern button */
button canvas {
	object-fit: contain;
	height: calc(var(--S)*var(--ph)*1px);
	width: calc(var(--S)*var(--pw)*1px);
}
.picker {
	position: absolute;
	clip: rect(0, 0, 0, 0);
}
